@font-face {
    font-family: Trueno;
    font-style: normal;
    font-weight: 950;
    src: url('../fonts/SegoeUI-SemiBold.woff') format('woff');
    /* src: url('../fonts/TruenoUltBlk.woff2') format('woff2'); */
}

@font-face {
    font-family: Trueno;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SegoeUI-Light.woff') format('woff');
    /* src: url('../fonts/TruenoLt.woff2') format('woff2'); */
}

@font-face {
    font-family: Trueno;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SegoeUI-Light.woff') format('woff');
    /* src: url('../fonts/TruenoBd.woff2') format('woff2'); */
}