$main: #623232;
$dark-brown: #472424;
$orange: #ff7373;

html {
	color: #8a8784;
}

.wrap {
	margin: 0 auto;
}

.catalogue-filtr {
	display: inline;
	font-size: 5.5vw;

	&__item {
		display: inline;
		margin-right: 20px;
	}

	&__link {
		color: #bdb9b5;
		text-transform: uppercase;

		&:hover {
			color: $orange;
		}

		&--active {
			color: $main;
			font-weight: 900;

			&:hover {
				color: $main;
			}
		}
	}
}

.product-grid {
	font-size: 0;

	&__item {}
}

.product-card {
	width: 96%; //ширина картки товару
	padding: 2%;
	margin: 2%;
	border: 1px solid rgb(238, 238, 238);
	display: inline-block;

	&__wrapper {
		position: relative;
		width: 100%;
		padding-bottom: 137.2549019607843%; //відношення висоти до ширини
	}

	&__info {
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 10vw;

		.product-info {
			color: red;

			&__cost {
				display: block;
				color: #d60c0c;
				font-size: 1em;
				height: 12%;
			}

			&__sell {
				color: #bdb9b5;
				font-size: .705882352em;
				height: 5%;
			}

			&__img-box {
				position: relative;
				height: 55%;
				width: 100%;
			}

			&__img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin: 0 auto;
				max-height: 100%;
				max-width: 100%;
				width: 100%;
				object-fit: cover;
				display: block;
			}

			&__sex {
				font-weight: bold;
				color: #8a8784;
				font-size: .6470588235294118em;
				text-transform: uppercase;
				height: 8%;
			}

			&__desc {
				display: block;
				color: #8a8784;
				font-size: .705882352em;
				height: 15%;
			}

			&__id {
				padding-top: auto;
				color: #bdb9b5;
				font-size: .5882352941176471em;
				height: 5%;
			}
		}

		//продукти со скидкой
		&--sale {
			.product-info__cost {
				color: $orange;
			}

			.product-info__sell {
				text-decoration: line-through;
			}
		}
	}


}





/* Стили для маленьких экранов (телефоны в альбомной ориентации,
дисплей 576 пикселей и более) */
@media (min-width: 576px) {
	.product-card {
		width: 46%; //ширина картки товару
		padding: 2%;
		margin: 2%;

		&__info {
			font-size: 5vw;
		}
	}
}

/* Стили для средних экранов (планшеты, дисплей 768 пикселей и более) */
@media (min-width: 768px) {
	.product-card {
		width: 31.3333%; //ширина картки товару
		padding: 2%;
		margin: 1%;

		&__info {
			font-size: 3.33333333333333vw;
		}
	}
}

/* Стили для больших экранов (ПК, дисплей 992 пикселей и более) */
@media (min-width: 992px) {
	.product-card {
		width: 24%; //ширина картки товару
		padding: .5%;
		margin: .5%;

		&__info {
			font-size: 2.2vw;
		}
	}
}

/* Стили для очень больших экранов (ПК с большим монитором,
дисплей 1200 пикселей и более) */
@media (min-width: 1200px) {}